{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "document": true,
    "expect": true,
    "process": true,
    "test": true,
    "jest": true,
    "beforeEach": true,
    "window": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "react/jsx-indent": [1, 2],
    "react/prop-types": 1
  }
}
