.loading-text {
  animation: placeholder-pulse 1s infinite;
  background-color: #bebebe;
  display: inline-block;
  height: 16px;
  width: 20%;
}

.loading-panel {
  animation: placeholder-pulse 1.2s 0.3s infinite;
  background-color: #bebebe;
  height: 34px;
  margin-bottom: 4px;
  margin-top: 4px;
  width: 100%;
}

.rough-canvas {
  pointer-events: none;
  position: absolute;
}

@keyframes placeholder-pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}